*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    color: #F4B400;
    -webkit-text-stroke: 2px #12669f;
}

.content {
    padding: 1rem;
}

.Pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}


.Pokemon {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #701198;
    color:black;
}

.Pokemons .detail img{
    margin-left: 250px;
    border-style: none;
    max-width: 100%;
    height: 200px;
    padding-bottom: 2rem;
}

